*.tif filter=lfs diff=lfs merge=lfs -text
*.html filter=lfs diff=lfs merge=lfs -text
*.ipynb filter=lfs diff=lfs merge=lfs -text
*.gif filter=lfs diff=lfs merge=lfs -text
COLABS/DANIEL/Sagitall.ipynb filter=lfs diff=lfs merge=lfs -text
